.txt {
  font: Georgia;
  background-color: #3f6998;
  color: white;
  text-align: center;
}
h1 {
  font: Georgia;
  color: #3f6998;
  margin: 0px auto;
  width: 266px;
  height: 35px;
}
.post {
  width: 500px;
  height: 730px;
  margin: 0px auto;
}
.post p {
  font: Georgia;
  background-color: #3f6998;
  color: white;
  text-align: center;
}
.post a {
  color: white;
  background-color: #454545;
  text-decoration: none;
  padding: 5px;
}
.post a:hover {
  color: mainColor;
}
